<h2>Register</h2>
<form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input [disabled]="true" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
    />
    <div *ngIf="firstName.errors" class="invalid-feedback">
      <div *ngIf="!!firstName.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" autocomplete="off" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
    />
    <div *ngIf="lastName.errors" class="invalid-feedback">
      <div *ngIf="!!lastName.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="emailId">Email Id</label>
    <input type="text" autocomplete="off" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }"
    />
    <div *ngIf="emailId.errors" class="invalid-feedback">
      <div *ngIf="!!emailId.errors.required">Email Id is required</div>
    </div>
  </div>
  <div [hidden]="true" class="form-group">
    <label for="username">Username</label>
    <input type="text" autocomplete="off" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
    />
    <div *ngIf="username.errors" class="invalid-feedback">
      <div *ngIf="!!username.errors.required">Username is required</div>
    </div>
  </div>
  <div [hidden]="true" class="form-group">
    <label for="password">Password</label>
    <input type="password" autocomplete="off" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    />
    <div *ngIf="password.errors" class="invalid-feedback">
      <div *ngIf="!!password.errors.required">Password is required</div>
      <div *ngIf="!!password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="cardNumber">Card Number</label>
    <input type="text" autocomplete="off" formControlName="cardNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors }"
    />
    <div *ngIf="cardNumber.errors" class="invalid-feedback">
      <div *ngIf="!!cardNumber.errors.required">Card Number is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="expiration">Expiration</label>
    <input type="text" placeholder="mm/yy" autocomplete="off" formControlName="expiration" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.expiration.errors }"
    />
    <div *ngIf="expiration.errors" class="invalid-feedback">
      <div *ngIf="!!expiration.errors.required">Expiration is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="securityCode">Security Code</label>
    <input type="password" autocomplete="off" formControlName="securityCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.securityCode.errors }"
    />
    <div *ngIf="securityCode.errors" class="invalid-feedback">
      <div *ngIf="!!securityCode.errors.required">Security Code is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="registrationFormGroup.invalid || isRegistrationFormLoading" class="btn btn-primary">Register</button>
    <img *ngIf="isRegistrationFormLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
  </div>
</form>
